<div class="container">
    <div class="form-group">
    <div class="row">
      <div class="col-sm-8 offset-sm-2">
  
  
    <form [formGroup]="theComplaint" (ngSubmit)="onSubmit()">
  
      <div class="row">

        <div class="col">

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon3"
                    >First Name</span
                  >
                </div>
          
                
                <input
                  type="text"
                  formControlName="firstName"
                  class="form-control"
                  id="basic-url"
                  aria-describedby="basic-addon3"
                />
              </div> 
        </div>

        <div class="col">


      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon3"
            >Surname</span
          >
        </div>
  
        
        <input
          type="text"
          formControlName="lastName"
          class="form-control"
          id="basic-url"
          aria-describedby="basic-addon3"
        />
      </div> 
        </div>

      </div>

  
  
  
  
      
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon3"
            >Add your Proof of ID</span
          >
        </div>
  
        
        
        <input
          type="text"
          formControlName="identification"
          class="form-control"
          id="basic-url"
          aria-describedby="basic-addon3"
          placeholder="We need this to verify your data"
        />
      </div> 
  
    
  
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon3"
            >Give your full complaint</span
          >
        </div>
  
        
        <textarea
          type="text"
          formControlName="complaint"
          class="form-control"
          id="basic-url"
          aria-describedby="basic-addon3"
          placeholder="Be very detailed">

        </textarea>
      </div> 


      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon3"
            >Where did this happen?</span
          >
        </div>
  
        
        <input
          type="text"
          formControlName="hospital"
          class="form-control"
          id="basic-url"
          aria-describedby="basic-addon3"
          placeholder="Hospital or doctor"
        />
      </div> 
  
      
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon3"
            >Your email</span
          >
        </div>
        <input
          type="text"
          fomControlName="email" 
          class="form-control"
          id="basic-url"
          aria-describedby="basic-addon3"
          
        />
      </div> 
  
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">What city do you live in?</span>
        </div>
        <input
          formControlName="city"
          type="text"
          class="form-control"
          aria-describedby="basic-addon3"
        />
      </div>

        
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">What State do you live in?</span>
        </div>
        <input
          formControlName="state"
          type="text"
          class="form-control"
          aria-describedby="basic-addon3"
        />
      </div>


      <div class="form-group">
        <label for="contry">What is your gender?</label>
        <select class="form-control" id="basic-url" formControlName="gender">
          <option *ngFor="let gend of sex" [value]="gend.id">{{gend.name}}</option>
        </select>
      </div>
  
      <h3>optional details</h3>
  
      
  <hr>
    
      <div formArrayName="images">
       
        <h3>Image Section: Add 2 or more pictures</h3>
         <button (click)="addExtraImage()" type="button">Add another image</button>
         <h3></h3>
    
        <div *ngFor="let image of imageUploader.controls; let i=index">
          <!-- The repeated alias template -->
  
  
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon3"
                >Use the image selector to add Images</span
              >
            </div>
      
            
            <input
              type="text"
              class="form-control"
              [formControlName]="i"
              id="basic-url"
              aria-describedby="basic-addon3"
              placeholder="Then Paste the link here"
            />
          </div> 
  
  
        </div>
      </div>
  
  
  
      
      <div class="input-group mb-3">
        <div class="custom-file">
          <input
            type="file"
            class="custom-file-input"
            id="inputGroupFile02"
            (change)="uploadImage($event)"
            accept=".png,.jpg"
          />
          <label
            class="custom-file-label"
            for="inputGroupFile02"
            aria-describedby="inputGroupFileAddon02"
            >Select image file to upload</label
          >
        </div>
      </div>
  
  
  
  
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped bg-success"
          role="progressbar"
          [style.width]="(uploadProgress | async) + '%'"
          [attr.aria-valuenow]="uploadProgress | async"
          aria-valuemin="0"
          aria-valuemax="100"
        
        >
      
      </div>
      </div>
  
      <div
        *ngIf="downloadURL | async; let downloadSrc"
        class="alert alert-info"
        role="alert"
      >
        File uploaded: <a [href]="downloadSrc">{{ downloadSrc }}</a>
      </div>
  
      <div
        class="btn-group"
        role="group"
        *ngIf="uploadState | async; let state"
      
      >
        <button
          type="button"
          class="btn btn-primary"
          (click)="task.pause()"
          [disabled]="state === 'paused'"
        >
          Pause
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="task.cancel()"
          [disabled]="!(state === 'paused' || state === 'running')"
        >
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="task.resume()"
          [disabled]="state === 'running'"
        >
          Resume
        </button>
  
      
      </div>
  
  
  
  <h3></h3>
    
    
      <button type="submit" [disabled]="!theComplaint.valid">Submit</button>
    
    
    </form>
    
    <hr>
  </div>
  </div>
  
  </div>
  
  </div>